body {
    font-size: 1em;
    color: #4D4D4D;
    margin: 0;
    padding:0;
}

a {
    text-decoration: none;
    color: #00A8DE;
    font-weight: 500;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
    letter-spacing: 0px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.75em;
}

h2 {
    font-size: 2em;
}
}

h3 {
    font-size: 1.6em;
    line-height: 39px;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
    line-height: 25px;
}
h6 {
    font-size: 0.875em;
    line-height: 22px;
}


.__light {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.__compact {
    line-height: 26px;
}

.__expanded {
    line-height: 40px;
}

.body {
    width: 484px;
}
.subhead {
    font-size: 1.6em;
}
.intro {
    font-size: 1.6em;
    font-weight:500;
    line-height: 39px;
}
.thirtytwo {
    line-height: 32px;
}
.twentysix {
    line-height: 26px;
}
.description {
    font-weight: 500;
    line-height: 26px;
    width: 180px;
}
.regular {
    font-weight: 500;
}
.light {
    font-weight: 300;
    color: #242424;
}
.bold {
    font-weight: 700;
}
